
body {
    font-size: 16px;
    background-color: #88a0a8;
}

header,
main,
footer {
    max-width: 990px;
    margin: 0 auto;
}

header {
    background-color: #dbc2cf;
    color: #885a89;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    font-size: 1rem;
}

header img {
    width: 100px;
    height: auto;    
}

img {
    box-shadow: 10px 5px 5px black;
}

h1 {
    padding: 10px;
    text-align: center;
}

.img1, .img2 {
    padding: 15px;
    box-shadow: 20px;
    border-radius: 1.5rem;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #885a89;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: .65rem;
}

main p {
    background-color: #dbc2cf;
    padding: 10px;
    border-radius: 1.5rem;
}

main h2 {
    background-color: #dbc2cf;
    color: #885a89;
    padding: 10px;
    border-radius: 1.5em;
}

nav li {
    color: #546a76;    
}

a:hover {
    background-color: #885a89;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: #dbc2cf;
    border-radius: 1.5rem;
}

button {
    background-color: #885a89;
    font-size: 20px;
    opacity: 0.9;
}

.hero img {
    padding-top: 10px;
    border-radius: 1.5rem;
    position: relative;
}
    
.action {
    position: absolute;
    top: 120px;
    left: 200px;
    border: 1px solid #885a89;
    background: radial-gradient(#dbc2cf, #885a89);
}

.contact {
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding: 5px;
    text-align: center;
}

.title1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
}

.img1 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.title2 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.p2 {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: left;
}

.img2 {
    grid-column: 1/2;
    grid-row: 3/5;
}

.title3 {
    grid-column: 1/3;
    grid-row: 5/6;
}

.p3 {
    grid-column: 1/3;
    grid-row: 6/7;
    text-align: left;
}

.social {
    text-align: right;
}
.social img {
    width: 35px;
    height: auto;
    float: right;
    margin-top: .5rem;
    margin-right: 2rem;
    border-radius: .5rem;
}

.icon {
    padding-left: 0;
    display: inline-block;
}

.indentS {
    padding-left: 10px;
}

.indent {
    padding-left: 30px;
}

.copyright {
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 20px;
    padding: 25px;
    text-align: left;
}

.amenities {
    grid-column: 1/2;
    width: 300px;
    background-color: #dbc2cf;
    padding: 20px;
    padding-top: 0px;
    border-radius: 1.5rem;
}

.services {
    grid-column: 2/3;
    width: 500px;
    background-color: #dbc2cf;
    padding: 20px;
    padding-top: 0px;
    border-radius: 1.5rem;
}

.logo {
    padding: 5px;
    border-radius: 2rem;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 5px;
    padding: 20px;
}

.templeimg {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 40px;
    padding: 20px;
}

.sapporoinfo {
    grid-column: 1/2;
}

.templeimg2 {
    grid-column: 2/3;
}

form {
    margin: 30px auto;
    width: 500px;
    display: inline-block;
    padding: 1em;
    border: 1px solid #885a89;
    border-radius: 1em;
    background-color: #dbc2cf;
  }

.search {
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#messageBox {
    text-align: center;
}

label {
    padding: 7px;
}

input {
    padding: 7px;
}

.num {
    width: 40px;
    padding: 5px;
}

@media screen and (max-width: 550px) {
    body {
      display: block;
    }
  }